{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <div>
  <form action="/commandes/create" method="POST" >
  <label for="title">Produit</label>
  <input type="text" id="produit" name="produit" placeholder="Saisir le produit" value="{{commande.produit}}" /><br>
  <label for="prix">Prix</label>
  <input type="number" id="prix" name="prix" placeholder="Saisir le prix" value="{{commande.prix}}" /><br>
  <label for="adresse">Adresse</label>
  <input type="text" id="adresse" name="adresse" placeholder="Saisir l'adresse" value="{{commande.adresse}}" /><br>
  <input type="submit" value="Ajouter" />
  </form>
  </div>
{% endblock %}
